<h1>Hi</h1>

<p>You typed: <%= @login %></p>
<p>Your pasword: <%= @pasword %></p>

<form action="/" method="POST">
  <input type="text" name="login" />
  <input type="text" name="pasword" />
  <input type="submit" />
</form>
